ETHERSCAN_API_KEY = < INSERT ETHERSCAN API KEY HERE >
POLYGONSCAN_API_KEY = < INSERT POLYGONSCAN API KEY HERE >
SNOWTRACE_API_KEY = < INSERT SNOWTRACE API KEY HERE >
BSCSCAN_API_KEY = < INSERT BSCSCAN API KEY HERE >

MAINNET_URL = < INSERT MAINNET URL HERE >
GOERLI_URL = < INSERT GOERLI URL HERE >
RINKEBY_URL = < INSERT RINKEBY URL HERE >
POLYGON_URL = < INSERT POLYGON URL HERE >
MUMBAI_URL = < INSERT MUMBAI URL HERE >
AVALACHE_URL = < INSERT AVALACHE URL HERE >
FUJI_URL = < INSERT FUJI URL HERE >
BSC_URL = < INSERT BSC URL HERE >
BSC_TESTNET_URL = < INSERT BSC TESTNET URL HERE >

PRIVATE_KEY = <INSERT TREASURY PRIVATE KEY HERE>
REPORT_GAS =